
#container{
    position:relative;
    width:600px;
    height:400px;
    background:orange;
    top: 50px;
    left: 200px;
}
.child{
    position: absolute;
    width: 100px;
    height: 100px;
}
#top-right{
    background: green;
    top: 15px;
    right: 25px;
}
#top-left{
    background: red;
    top: 15px;
    left: 25px;
}
#bottom-right{
    background: black;
    bottom: 15px;
    right: 25px;
}
#bottom-left{
    background: purple;
    bottom: 15px;
    left: 25px;
}
header{
    position: fixed;
background: black;
height: 100px;
width: 100%;
margin-top:20px;
}
h1{
    color: white;
    text-align: center;
}
p{
    padding-top: 125px;
    min-height: 800px;
}