
#container{
    position:relative;
    width:600px;
    height:600px;
    background:orange;
}
.child{
    position: absolute;
    width: 100px;
    height: 100px;
}
#top-right{
    background: green;
    top: 0;
    right: 0;
}
#top-left{
    background: red;
    top: 0;
    right: 0;
}
#bottom-right{
    background: black;
    top: 0;
    right: 0;
}
#bottom-left{
    background: purple;
    top: 0;
    right: 0;
}